{% load static %}
<!-- aashe-theme js -->
    <script src="{% static 'aashe_theme/unify/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'aashe_theme/unify/plugins/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'aashe_theme/unify/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'aashe_theme/unify/plugins/counter/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'aashe_theme/unify/js/plugins/fancy-box.js' %}"></script>
    <script src="{% static 'aashe_theme/unify/plugins/fancybox/source/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'aashe_theme/unify/plugins/owl-carousel/owl-carousel/owl.carousel.js' %}"></script>
    <script src="{% static 'aashe_theme/unify/js/plugins/owl-carousel.js' %}"></script>
    <script src="{% static 'aashe_theme/unify/js/plugins/master-slider-fw.js' %}"></script>
    <script src="{% static 'aashe_theme/unify/plugins/smoothScroll.js' %}"></script>
    <script src="{% static 'aashe_theme/unify/js/custom.js' %}"></script>
    <script src="{% static 'aashe_theme/unify/js/app.js' %}"></script>

    <!--[if lt IE 9]>
        <script src="{% static "aashe_theme/unify/plugins/respond.js" %}"></script>
        <script src="{% static "aashe_theme/unify/plugins/html5shiv.js" %}"></script>
        <script src="{% static "aashe_theme/unify/plugins/placeholder-IE-fixes.js" %}"></script>
    <![endif]-->

    <!-- End aashe-theme js -->
<script src="{% static 'aashe_theme/unify/plugins/bazck-to-top.js' %}"></script>